@model DAX_Block2_2024.Entities.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add News</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">News</li>
                    <li class="breadcrumb-item active">Add News</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Please fill full fields</h3>
                    </div>
                    <form asp-area="Admin" asp-controller="New" asp-action="Create" id="quickForm" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Title" class="control-label">Name</label>
                                    <input asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Name" required>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Content" class="control-label">Content</label>
                                    <input asp-for="Content" class="form-control" id="exampleInputContent1" placeholder="Content" required>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="CreateDate" class="control-label">Date</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input asp-for="CreateDate" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" required>
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label asp-for="CreateBy" class="control-label">Post By</label>
                                    <select asp-for="CreateBy" asp-items="@((SelectList)ViewData["CreateBy"])" class="form-control select2 select2-accessible" style="width: 100%;" required>
                                    </select>
                                    <span asp-validation-for="CreateBy" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Image" class="control-label">Files</label>
                                    <input type="file" class="form-control" name="ImageFile" id="exampleInputFile1" required>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Status" class="control-label">Status</label>
                                    <select asp-for="Status" class="form-control" required>
                                        <option value="" selected disabled>News Status</option>
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label asp-for="Description" class="control-label">Description</label>
                                    <textarea asp-for="Description" cols="100%" rows="7" class="form-control" id="Decription" placeholder="Description" required></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label for="SubjectId" class="control-label">Subject</label>
                                    <select id="SubjectId" name="SubjectId" class="form-control">
                                        <option value="-1">Select a Subject</option>
                                        @foreach (SelectListItem subject in (SelectList)ViewData["SubjectId"])
                                        {
                                            <option value="@subject.Value">@subject.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>


                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


