@model DAX_Block2_2024.Entities.Document

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Document</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Validation</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Please fill full fields</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="quickForm" asp-action="Create" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Name" for="exampleInputEmail1">Name</label>
                                    <input asp-for="Name" type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Name">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Content" for="exampleInputPassword1">Content</label>
                                    <input asp-for="Content" type="text" name="content" class="form-control" id="exampleInputContent1"
                                           placeholder="Content">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label>Post By</label>
                                    <select asp-for="PostBy" asp-items="ViewBag.PostBy" class="form-control select2 select2-accessible" style="width: 100%;"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label asp-for="DatePost">Date</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input asp-for="DatePost" type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Rate" for="exampleInputRate1">Rate</label>
                                    <input asp-for="Rate" type="number" name="phone" class="form-control" id="exampleInputRate1"
                                           placeholder="Rate">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Status">Status</label>
                                    <select asp-for="Status" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option selected="selected" value="true">Show</option>
                                        <option value="false">Hide</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 form-group">
                                    <label asp-for="Price" for="exampleInputRate1">Price</label>
                                    <input asp-for="Price" type="number" name="phone" class="form-control" id="exampleInputRate1"
                                           placeholder="Rate">
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label>Tag</label>
                                    <select asp-for="TagsId" asp-items="ViewBag.TagsID" class="form-control select2 select2-accessible" style="width: 100%;"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    </select>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label>Category</label>
                                    <select asp-for="CategoriesId" asp-items="ViewBag.CategoriesId" class="form-control select2 select2-accessible" style="width: 100%;"
                                            data-select2-id="1" tabindex="-1" aria-hidden="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" for="exampleInputDecription1">Decription</label>
                                <input asp-for="Description" type="text" name="decription" class="form-control" id="exampleInputDecription1"
                                       placeholder="Decription">
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" for="exampleInputFile2">Image</label>
                                <input asp-for="Image" name="postImg" type="file" class="form-control" id="exampleInputFile2">
                            </div>
                            <div class="form-group">
                                <label asp-for="FilePath" for="exampleInputFile3">File Path</label>
                                <input asp-for="FilePath" name="postedFile" type="file" class="form-control" id="exampleInputFile3">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>